@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes width {
  from {
    opacity: 0;
    width: 0;
  }

  to {
    opacity: 1;
    width: calc(100% - 21rem);
  }
}

